@use '../custom' as *;
.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro {
        display: inline-block;
        font-weight: 700;
        color: $white;
        margin-top: 1.2rem;
        font-family: 'Poppins', sans-serif;
    }

    &--description {
        font-size: 1rem;
        display: block;
        color: $white;
        margin-top: 1.2rem;
        text-transform: none;

        @include media-breakpoint-up (lg) {
            font-size: 1.5rem;
            display: inline-block;
        }
    }
}

// HEADING LINE
.heading-line::before {
    content: "";
    width: 10rem;
    height: .1rem;
    background-color: $primary;
    display: block;
    margin: 0 auto;
}

.heading-line::after {
    content: "";
    width: 2rem;
    padding-top: .5rem;
    height: .2rem;
    background-color: $primary;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

// SERVICES
.display-3 {
    font-family: 'Poppins', sans-serif;

    &--title {
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;;
        display: block;
        background-image: linear-gradient(to right, $primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;

        }
    }

}

.border-right {
    border-right: .1rem solid $gray-300;
    height: 100%;
}


// TESTIMONIAL SECTION
.horizontal-line {
    width: 100px;
    height: 3px;
    
}